Repository Angel-Coyasos/AgSoftware_exodo, pull requests merged in 2023-04, with the labels that each got.

#99 Fix/wlt qa 01 blocks home
  app/design/frontend/Weltpixel/clone/Magento_Cms/layout/cms_index_index.xml
  app/design/frontend/Weltpixel/clone/web/css/source/home/_google-Analytics-4.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_quote-2.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_themes-and.extencions.less
Labels: bug, tweak css

#100 Fix/wlt qa 01 blocks home
  app/design/frontend/Weltpixel/clone/web/css/source/home/_awesome-extencsions.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_customer-development.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_google-Analytics-4.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_industry-partners.less
  app/design/frontend/Weltpixel/clone/web/css/source/home/_post-list.less
Labels: tweak css

#101 Fix/wlt qa 01 blocks home
  app/design/frontend/Weltpixel/clone/web/css/source/_account.less
  app/design/frontend/Weltpixel/clone/web/css/source/_home.less
  app/design/frontend/Weltpixel/clone/web/css/source/account/_account-login.less
Labels: tweak css

#104 Feature/wlt027 1 legal notice
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/legal-notice.html
  app/code/AgSoftware/InstitutionalPages/etc/module.xml
  app/code/AgSoftware/InstitutionalPages/registration.php
  app/design/frontend/Weltpixel/clone/web/css/source/_extend.less
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_legal-notice.less
Labels: css, module, patc data

#107 Feature/wlt013 1 privacy polity
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/privacy-policy.html
  app/design/frontend/Weltpixel/clone/web/css/source/_extend.less
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_privacy-policy.less
Labels: css, module, patc data

#115 Feature/wlt011 1 about
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/contact-us.html
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_contact-us.less
Labels: css

#116 Feature/wlt014 1 terms condicions
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/term-and-conditions.html
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/paginas.php
  app/design/frontend/Weltpixel/clone/requirejs-config.js
  app/design/frontend/Weltpixel/clone/web/css/source/_extend.less
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_contact-us.less
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_institutionalpages.less
  app/design/frontend/Weltpixel/clone/web/css/source/cmsPages/_terms-conditions.less
  app/design/frontend/Weltpixel/clone/web/js/filtro.js
Labels: tweak css, css, patch data

#123 wlt015-1-recently-view: add performance of module
  app/code/AgSoftware/RecentlyViewed/view/frontend/requirejs-config.js
  app/code/AgSoftware/RecentlyViewed/view/frontend/templates/recently_viewed.phtml
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-modal.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedClear.js
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedHidden.js
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedModal.js
Labels: tweak css, css, module

#125 wlt015-1-recently-view: add performance in styles for module
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/contact-us.html
  app/code/AgSoftware/Loader/view/frontend/templates/loader.phtml
  app/code/AgSoftware/Loader/view/frontend/web/css/source/_module.less
  app/code/AgSoftware/PageFoteerV1/Setup/Patch/Data/html/footer.html
  app/code/AgSoftware/RecentlyViewed/view/frontend/templates/recently_viewed.phtml
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_module.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-animation.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-float.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-modal.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedModal.js
  app/code/AgSoftware/SlickSlider/view/frontend/web/css/source/slick-theme.less
  app/design/frontend/AgSoftware/exodo/Magento_Checkout/templates/cart/minicart.phtml
  app/design/frontend/AgSoftware/exodo/Magento_Theme/layout/default.xml
  app/design/frontend/AgSoftware/exodo/requirejs-config.js
  app/design/frontend/AgSoftware/exodo/web/css/source/_header.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_home.less
  app/design/frontend/AgSoftware/exodo/web/css/source/account/_account-create.less
  app/design/frontend/AgSoftware/exodo/web/css/source/account/_account-login.less
  app/design/frontend/AgSoftware/exodo/web/css/source/cmsPages/_institutionalpages.less
  app/design/frontend/AgSoftware/exodo/web/js/headerDinamic.js
Labels: bug, tweak css, css, module, patch data

#126 Feature/wlt026 1 careers
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/careers.html
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/paginas.php
  app/design/frontend/AgSoftware/exodo/web/css/source/_extend.less
  app/design/frontend/AgSoftware/exodo/web/css/source/cmsPages/_careers.less
  app/design/frontend/AgSoftware/exodo/web/css/source/cmsPages/_institutionalpages.less
Labels: css, module

#127 Feature/wlt025 1 support center
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/support-center.html
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/paginas.php
  app/design/frontend/AgSoftware/exodo/web/css/source/cmsPages/_support-center.less
Labels: css, module

#137 wlt006-1-mini-cart: add files config of minicart personalize, and sty…
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/legal-notice.html
  app/code/AgSoftware/InstitutionalPages/Setup/Patch/Data/html/privacy-policy.html
  app/code/AgSoftware/QuickCart/etc/module.xml
  app/code/AgSoftware/QuickCart/registration.php
  app/code/AgSoftware/QuickCart/view/frontend/requirejs-config.js
  app/code/AgSoftware/QuickCart/view/frontend/web/css/source/_module.less
  app/code/AgSoftware/QuickCart/view/frontend/web/js/view/cart-item-renderer-mixins.js
  app/code/AgSoftware/QuickCart/view/frontend/web/template/minicart/content.html
  app/code/AgSoftware/QuickCart/view/frontend/web/template/minicart/item/default.html
  app/design/frontend/AgSoftware/exodo/Magento_Checkout/templates/cart/minicart.phtml
  app/design/frontend/AgSoftware/exodo/web/css/source/_checkout.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_extend.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_institutional.less
  app/design/frontend/AgSoftware/exodo/web/css/source/checkout/_miniCart.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_about-us.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_careers.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_contact-us.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_legal-notice.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_privacy-policy.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_support-center.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_terms-conditions.less
  app/design/frontend/AgSoftware/exodo/web/js/modal.js
Labels: tweak css, css, module
