Repository Angel-Coyasos/AgSoftware_exodo, pull requests merged in 2023-05, with the labels that each got.

#144 Feature/wlt007 1 shopping cart
  app/design/frontend/AgSoftware/exodo/Magento_Checkout/layout/checkout_cart_index.xml
  app/design/frontend/AgSoftware/exodo/Magento_Checkout/templates/cart/appli.phtml
  app/design/frontend/AgSoftware/exodo/Magento_Theme/templates/description.phtml
  app/design/frontend/AgSoftware/exodo/Mageplaza_SocialLogin/templates/form/socialcollapse.phtml
  app/design/frontend/AgSoftware/exodo/web/css/source/_account.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_checkout.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_institutional.less
  app/design/frontend/AgSoftware/exodo/web/css/source/checkout/_checkout-cart.less
  app/design/frontend/AgSoftware/exodo/web/css/source/institutional/_terms-conditions.less
  app/design/frontend/AgSoftware/exodo/web/js/headerDinamic.js
Labels: css

#154 wlt-006-minicart: add files performance of module finish
  app/code/AgSoftware/RecentlyViewed/view/frontend/templates/recently_viewed.phtml
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_module.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-animation.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-float.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/css/source/_viewed-modal.less
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedClear.js
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedHidden.js
  app/code/AgSoftware/RecentlyViewed/view/frontend/web/js/viewedModal.js
  app/design/frontend/AgSoftware/exodo/Magento_Theme/layout/default.xml
Labels: bug, tweak css, css, module

#160 Feature/wlt026 1 happy customer
  app/code/AgSoftware/HappyCustomer/etc/module.xml
  app/code/AgSoftware/HappyCustomer/i18n/en_US.csv
  app/code/AgSoftware/HappyCustomer/registration.php
  app/code/AgSoftware/HappyCustomer/view/frontend/layout/default.xml
  app/code/AgSoftware/HappyCustomer/view/frontend/requirejs-config.js
  app/code/AgSoftware/HappyCustomer/view/frontend/templates/visitor_count.phtml
  app/code/AgSoftware/HappyCustomer/view/frontend/web/css/source/_module.less
  app/code/AgSoftware/HappyCustomer/view/frontend/web/js/happyCustomer.js
  app/design/frontend/AgSoftware/exodo/Magento_Theme/layout/default.xml
  app/design/frontend/AgSoftware/exodo/web/css/source/_account.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_checkout.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_extend.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_footer.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_header.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_home.less
  app/design/frontend/AgSoftware/exodo/web/css/source/_institutional.less
  app/design/frontend/AgSoftware/exodo/web/css/source/account/_account-create.less
Labels: documentation, tweak css, css, module
